body,
html {
    background-color: #4160D9;
    text-align: center;
    font-family: Segoe UI;
    height: 100%;
    width: 100%;
    margin: 0;
}

#Memocard {
    color: white;
    font-size: 80px;
    margin: 0 15px 0 0;
}

#subtitulo {
    color: white;
    font-size: 30px;
    margin: 39px 0 0;
}

input {
    width: 222px;
    height: 34px;
    border-radius: 50px;
    padding-left: 15px;
    font-size: 19px;
    border-style: none;
    color: #000000;
    outline: none;
    margin-left: 5px;
}

button {
    background-color: #00e52e;
    width: 202px;
    height: 52px;
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    border-style: none;
    cursor: pointer;
}

footew {
    color: white;
    font-size: 25px;
    position: relative;
    top: 120px;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 67px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.record {
    color: #ffffff;
}

.div-input {
    margin-top: 26px;
}

label {
    color: white;
    font-size: 20px;
}

.div-btn {
    margin-top: 55px;
}
